body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(100, 53, 31, 0.81);
}

header{
    display: flex;
    justify-content: space-around;
    background: rgba(213, 162, 89, 0.71);
    align-items: center;
}

.cover-picture{
    width: 250px;
    height: 100px;
    border-radius: 60px;
}

.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-menu{
    display: flex;
}

.nav-bar-menu li{
    list-style: none;
    margin-left: 10px;
}

.gallery
{
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

.whatsapp-chat{
    width: 50px;
    height: 50px;
}